[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Thakir PrayerTimes
Name[en_GB]=Thakir PrayerTimes
Name[fr]=Thakir PrayerTimes
Categories=Utility;
Icon=harbour-thakir_prayer_times
Exec=harbour-thakir_prayer_times

# added for backing up the database with "My Backup"
X-Desktop-File-Install-Version=0.26

[X-HarbourBackup]
BackupPathList=.config/org.hafsoftdz/thakir_prayer_times/:.local/share/org.hafsoftdz/thakir_prayer_times/

# ;Camera;Sharing
[X-Sailjail]
OrganizationName=org.hafsoftdz
ApplicationName=thakir_prayer_times
Permissions=Location;Sensors;Audio;MediaIndexing;RemovableMedia;UserDirs;Internet


